*{
    margin: 0;
}


nav{

    float: right;
    height: 25px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #c654e5;
    border-bottom: black;
    box-sizing: border-box;
    padding: 8px;
    position: fixed;
    top:0;
    left:50px;

}

.logo{
background-image: url("friend.gif");
right: 250px;
}


.menu{
    position: fixed;
    top: 60px;
    right: -150px;
    width: 120px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rebeccapurple;
    transition: 0.5s;
    z-index: 98;
}

.menuIcon{
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.pic1{
    height: 200px;
    width: 200px;
    background-size: 100% auto;
    background-image: url("friendstv.jpg");
    margin: 20px 80px;
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.pic1expand{
    position: fixed;
    top: 60px;
    left: 300px;
    width: 120px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: white;
    color: black;
    transition: 0.5s;
    z-index: 98;
}

.bar{
    height: 6px;
    width: 80%;
    background-color: white;
}

.bar2{
    height: 6px;
    width: 80%;
    background-color: white;
}
a{

}
.container{
    min-height: 200px;
    width: 100%;
    background-color: #c654e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.box{
    height: 100px;
    width: 400px;
    background-color: #c654e5;
    margin: 20px 80px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.box2{
    height: 20px;
    width: 100%;
    background-color: #764b8e;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    text-align: center;
text-outline: #4A4D4A 2px;
}

.rectangle2{
    height: 150px;
    width: 100%;
    background-color: #c654e5;
    margin: 0px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    border: 5px #440028;
}

@media screen and (max-width: 800px){
    .headmen{
        height: 40px;
        width: 15%;
    }

}